# 1_UTILITIES
1_Utilities/file-rename-with-undo/__pycache__
1_Utilities/file-rename-with-undo/.venv/
1_Utilities/file-rename-with-undo/test_folder/

# 2_AUTOMATING 
# Email sender
2_Automating/email-sender-with-scheduling/__pycache__
2_Automating/email-sender-with-scheduling/.venv
2_Automating/email-sender-with-scheduling/.env